@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
}

h1 {
  color: white;
}

.screen {
  cursor: pointer;
  /*allows you to play and pause everything within the "screen" window*/
  width: 40%;
  max-height: 50%;
  background-color: black !important;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.controls {
  background-color: #333;
  color: #fff;
  width: 40%;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.controls .btn {
  border: 0;
  background: transparent;
  /*This makes the control "cosnsole' transparent*/
  ;
  cursor: pointer;
}

.controls .fa-play {
  color: rgb(254, 15, 127);
  padding: 0.25em;
}

.controls .fa-stop {
  color: gold;
  padding: 0.25em;
}

.controls .fa-pause {
  color: white;
}

.controls .timestamp {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.btn:focus {
  outline: 0;
}

@media (max-width: 400px) {

  .screen,
  .controls {
    width: 70%;
  }
}

/*This makes it a responsive screen, although, there is some tweaking needed.
Known as a media query */